/* static/css/styles.css */

/* my-margin-end */
.mme {
  margin-right: 100px;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 280px;
  padding: 1rem;
  background-color: #343a40;
  color: white;
  overflow-y: auto;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}