/* static/css/styles.css */

.sidebar {
  top: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #343a40;
  color: white;
  overflow-y: auto;
}

body {
  min-height: 100vh;
}

.nav-link.active {
  background-color: #f9f9f9;
  color: rgb(1, 1, 1) !important;
}

.nav-link {
  color: white !important;
}

#chart-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
}

#analyticsChart {
  width: 100% !important;
  height: 600px !important;
}

.qr-card {
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.container-adaptive {
  width: calc(100% - 20%);
  margin: 0 auto;
}