/* static/css/styles.css */

/* my-margin-end */
.mme {
  margin-right: 100px;
}

.sidebar {
  top: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #343a40;
  color: white;
  overflow-y: auto;
}

body {
  min-height: 100vh;
}

.nav-link.active {
  background-color: #f9f9f9;
  color: rgb(1, 1, 1) !important;
}

.nav-link {
  color: white !important;
}