{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <h1>Сканирование QR-кода</h1>
  <button id="start-camera" class="btn btn-primary">Включить камеру</button>
  <button id="stop-camera" class="btn btn-danger" disabled>Выключить камеру</button>
  
  <div id="reader" style="width:500px; margin-top:20px;"></div>
  
  <div id="added-products-container" class="mt-4" style="display:none;">
    <h2>Добавленные продукты</h2>
    <div id="card-container" class="d-flex flex-column"></div>
  </div>
</div>

<script src="https://unpkg.com/html5-qrcode"></script>
<script>
  function capitalize(text) {
    if (!text) return '';
    return text.charAt(0).toUpperCase() + text.slice(1);
  }

  var html5QrCode;
  var scannedCodes = new Set();

  var startButton = document.getElementById('start-camera');
  var stopButton  = document.getElementById('stop-camera');

  startButton.addEventListener('click', function(){
    html5QrCode = new Html5Qrcode("reader");

    Html5Qrcode.getCameras().then(cameras => {
        if (cameras && cameras.length) {
            var cameraId = cameras[0].id;
            html5QrCode.start(
              cameraId,
              {
                fps: 10,
                qrbox: 250
              },
              qrCodeMessage => {
                if (!scannedCodes.has(qrCodeMessage)) {
                  scannedCodes.add(qrCodeMessage);
                  var data = JSON.parse(qrCodeMessage);
                  console.log("Полученный объект:", data);
                  fetch('/Qr-code', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(data)
                  })
                  .then(response => response.json())
                  .then(result => {
                    if(result.success) {
                      var addedProductsContainer = document.getElementById('added-products-container');
                      if(addedProductsContainer.style.display === 'none'){
                        addedProductsContainer.style.display = 'block';
                      }
                      var cardHTML = `
                        <div class="card mb-3 qr-card w-50">
                          <div class="card-body">
                              <div>
                                <h5 class="card-title">${capitalize(data["name"])}</h5>
                                <hr>
                                <div class="d-flex justify-content-between align-items-center">
                                  <div class="me-2 ms-2">
                                    <h6>Тип:</h6>
                                    <p class="card-text">${capitalize(data["type"])}</p>
                                  </div>
                                  <div class="vr"></div>
                                  <div class="me-2 ms-2">
                                    <h6>Дата изготовления:</h6>
                                    <p class="card-text">${data["manufacture_date"]}</p>
                                  </div>
                                  <div class="vr"></div>
                                  <div class="me-2 ms-2">
                                    <h6>Годен до:</h6>
                                    <p class="card-text">${data["expiration_date"]}</p>
                                  </div>
                                  <div class="vr"></div>
                                  <div class="me-2 ms-2">
                                    <h6>Количество:</h6>
                                    <p class="card-text">
                                      ${data["quantity"]} ${data["unit"]}
                                    </p>
                                  </div>
                                  <div class="vr"></div>
                                  <div class="me-2 ms-2">
                                    <h6>Энергетическая ценность:</h6>
                                    <p class="card-text">
                                      ${data["nutritional_value"]}
                                    </p>
                                  </div>
                                  <div class="vr"></div>
                                  <div class="ms-2">
                                    <h6>Аллергены:</h6>
                                    <p class="card-text">${ data["allergens"] || '-' }</p>
                                  </div>
                                </div>
                              </div>
                          </div>
                        </div>
                      `;
                      document.getElementById('card-container').insertAdjacentHTML('beforeend', cardHTML);
                      console.log("Новый QR-код распознан и сохранен:", qrCodeMessage);
                    } else {
                      console.error("Ошибка сохранения QR-кода:", result.error);
                    }
                  })
                  .catch(error => console.error("Ошибка отправки данных:", error));
                } else {
                  console.log("QR-код уже был отсканирован:", qrCodeMessage);
                }
              },
              errorMessage => {
                console.log("Ошибка сканирования:", errorMessage);
              }
            ).catch(err => {
              console.error("Невозможно запустить сканер:", err);
            });
            startButton.disabled = true;
            stopButton.disabled  = false;
        } else {
            alert("Камеры не найдены");
        }
    }).catch(err => {
        console.error("Ошибка получения списка камер:", err);
    });
  });

  stopButton.addEventListener('click', function(){
    if (html5QrCode) {
      html5QrCode.stop().then(() => {
        console.log("Сканирование остановлено");
        startButton.disabled = false;
        stopButton.disabled  = true;
      }).catch(err => {
        console.error("Ошибка при остановке сканера:", err);
      });
    }
  });

</script>
{% endblock %}
