{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="d-flex">
    <div class="w-75 p-2">
      <h1 class="mb-3">Список покупок</h1>
      <div class="row">
        {% for shopping_product in shopping_list %}
          <div class="col-md-12">
            <div class="card mb-4">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex flex-column mb-1">
                    <h5 class="card-title">{{ shopping_product.name }}</h5>
                    <span class="card-text">{{ shopping_product.amount }} {{ shopping_product.amount_type }}</span>
                  </div>
                  <div>
                    <form method="POST" action="{{ url_for('delete_product', product_id=shopping_product.id) }}" style="display:inline;">
                      <button type="submit" class="btn btn-outline-danger">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                          </svg>
                      </button>
                  </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="w-50 p-2">
      <h2 class="mb-3">Добавить продукт</h2>
      <form method="POST" action="/shopping_list">
        <div class="mb-3">
          <label for="name" class="form-label">Название</label>
          <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="mb-3">
          <label for="amount" class="form-label">Количество</label>
          <input type="number" step="0.01" class="form-control" id="amount" name="amount" required>
        </div>
        <div class="mb-3">
          <label for="amount_type" class="form-label">Единица измерения</label>
          <input type="text" class="form-control" id="amount_type" name="amount_type" placeholder="кг/шт/л" required>
        </div>
        <!-- <div class="mb-3">
          <label for="amount_type" class="form-label">Единица измерения</label>
          <select class="form-select" aria-label="Default select example">
            <option value="1">кг</option>
            <option value="2">шт</option>
            <option value="3">литр</option>
          </select>
        </div> -->
        <button type="submit" class="btn btn-primary">Добавить</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
